<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>



  <div class="container" style="border: 2px solid black; text-align: center; width: 50%; padding: 40px; margin-top: 30px;">

    <form action="/update/" id="EmployeeForm" method="post">
    <input type="hidden" name="id" value="<%= records._id %>">
      <div id="signupalert" style="display:none" class="alert alert-danger">
        <p>Error:</p>
        <span></span>
      </div>

      <div class="form-group" style="display: flex;">

        <label
          style="  width:90px;height:35px; font-size: 20px; text-align: right; padding: 5px;  padding-right: 0;">Name:</label>
        <input type="text" class="form-control" name="uname" value="<%= records.Name %>" placeholder="Enter Your Name" style="margin-left: 30px;">
      </div>


      <div class="form-group" style="display: flex;">
        <label for="email"
          style="  width:90px; height:35px;font-size: 20px; text-align: right; padding: 5px;  padding-right: 0;">Rollno:</label>

        <input type="text" class="form-control" name="roll" value="<%= records.Rollno %>" placeholder="Enter Roll no" style="margin-left: 30px;">
      </div>



      <div class="form-group" style="display: flex;">
        <label for="lastname"
          style="  width:90px;height:35px; font-size: 20px; text-align: right; padding: 5px;  padding-right: 0;">Email:</label>

        <input type="text" class="form-control" name="email" value="<%= records.email %>" placeholder="Enter your email" style="margin-left: 30px;">

      </div>


      <div class="form-group" style="display: flex;">
        <label for="password"
          style=" width:90px;height:35px;font-size: 20px;text-align: right; padding: 5px; padding-right: 0;">DOB:</label>

        <input type="text" class="form-control" name="dob" value="<%= records.DOB %>" placeholder="Enter your DOB" style="margin-left: 30px;">

      </div>

      <div class="form-group" style="display: flex;">
        <label for="icode"
          style="  width:120px; height:35px;font-size: 20px; text-align: left;padding: 5px;padding-right: 0;">
          Address:</label>

        <input type="text" class="form-control" name="address" value="<%= records.Address %>" placeholder="Enter your Address"
          style="margin-left: 6px;">

      </div>


      <div class="form-group">
        <!-- Button -->
        <div class="col-md-offset-3 col-md-9">
          <input type="submit" name="submit" value="submit" class="btn btn-primary">
        </div>
      </div>





    </form>
  </div>


  


 









  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>